*.class
*.jar
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/log/
/out/
/resources/www/js/compiled/**
/target/
figwheel_server.log
pom.xml
pom.xml.asc
derby.log
doc/_build
/node_modules
/.cpcache
/.clj-kondo/.cache
/.cljs_node_repl/