{:require [camelot.core]
 :compiler-options {:asset-path "js/compiled/camelot.out"
                    :externs ["resources/public/lib/ga.js"]
                    :closure-warnings {:externs-validation :off}
                    :pretty-print false}}
