@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans-Light'), url('../fonts/opensans-light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), url('../fonts/opensans-normal.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  src: local('OpenSans-Semibold'), url('../fonts/opensans-semibold.woff') format('woff');
}
html > body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
  width: 100%;
  overflow-x: hidden;
}
#app {
  position: relative;
  box-shadow: 0px 5px 15px 5px #000;
  margin-top: 6rem;
  padding-top: 2rem;
  padding-left: 2rem;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 2rem;
  min-height: 500px;
}
#app h1,
#app h2,
#app h3,
#app h4 {
  color: #444;
  margin-top: 0;
  position: relative;
}
#app .button-container {
  margin: 0;
  width: 100%;
}
#app button {
  margin: 0;
  width: 100%;
  padding: 0.7rem 2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
#app button.btn-default {
  padding: 0.7rem 2rem;
}
#navigation {
  position: fixed;
  font-size: 120%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}
#navigation .navbar-nav {
  float: none;
  box-shadow: 0px 3px 10px 1px #999;
  width: auto;
  min-width: auto;
  margin: 0;
}
#navigation .navbar-nav li:last-child {
  float: right;
  border-right: none;
  border-left: 1px solid #1175aa;
}
#navigation .nav {
  min-width: auto;
  background: #116095;
  margin: 0;
}
#navigation .nav ul {
  list-style: none;
  height: 100%;
}
#navigation .nav li {
  transition: background 0.3s ease-in-out;
  display: inline-block;
  margin: 0;
  padding: 0.5rem 2rem;
  height: 6rem;
  border-right: 1px solid #1175aa;
}
#navigation .nav li.icon-only {
  display: inline-block;
  margin: 0;
  padding: 0rem;
  height: 6rem;
  border-right: 1px solid #1175aa;
}
#navigation .nav li a {
  color: #fafafa;
}
#navigation .nav li a:hover {
  background: none;
}
#navigation .nav li:hover {
  cursor: pointer;
  background: #1175aa;
}
#navigation .nav li.active {
  cursor: pointer;
  background: #1175aa;
}
a:hover {
  cursor: pointer;
}
.settings-field {
  margin-bottom: 1rem;
}
#footer {
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-image: url("../images/footer-tile.png");
  background-color: #222;
}
#footer .version {
  font-weight: normal;
  color: #888;
  font-size: 90%;
}
#footer .title {
  display: block;
  margin: auto;
  padding: 1.5rem;
  padding-bottom: 2.5rem;
}
#footer .developer {
  display: block;
  font-weight: normal;
  color: #888;
  font-size: 90%;
}
#footer .developer a {
  color: #888;
  text-decoration: underline;
}
#settings {
  position: fixed;
  width: 34rem;
  right: -36rem;
  background: #fff;
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
  height: calc(100vh - 6rem);
  top: 6rem;
  z-index: 1000;
  transition: right 0.5s ease-in-out;
  border: 1px solid #999;
  box-shadow: 10px 15px 60px 1px #333;
  border-top-left-radius: 1rem;
}
#settings .settings-label {
  color: #666;
  display: block;
  clear: both;
  font-weight: normal;
}
#settings select.settings-input {
  padding: 0.5rem;
  font-size: 90%;
  min-width: 30rem;
}
#settings input.settings-input {
  min-width: 30rem;
  padding: 0.5rem;
  color: #666;
  font-size: 90%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
#settings h4 {
  padding-left: 1rem;
}
#settings h4.section-heading {
  padding-left: 0rem;
  margin-top: 2rem;
  font-size: 100%;
}
#settings h4.section-heading:first-of-type {
  margin-top: 0;
}
#settings .button-container {
  padding: 0 1rem;
}
#settings #settings-inner {
  overflow-y: scroll;
  height: calc(100vh - 19.5rem);
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 0.5rem 0;
  padding-left: 1rem;
}
#settings.show {
  right: 0px;
  display: block-inline;
}
#settings .month-panel .label {
  font-size: 100%;
  color: #333;
}
#settings .list-item {
  background: #1175aa;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.2rem 0.2rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
  display: inline-block;
  color: white;
}
#settings .list-item-delete {
  padding-left: 0.5rem;
  color: #aef;
}
#settings .list-item-delete:hover {
  cursor: pointer;
  color: #fafafa;
}
#settings .list-input select.settings-input {
  width: 26.7rem;
  min-width: auto;
  margin-right: 0.3rem;
}
#settings .list-input input.settings-input {
  width: 26.7rem;
  min-width: auto;
  margin-top: 0;
  margin-right: 0.3rem;
}
#settings .list-input button {
  width: 3rem;
  margin-top: 0;
  padding: 0.5rem 0.5rem;
}
#loading {
    height: 30px;
    width: 120px;
    background: url("../images/logo-inv.png");
    background-repeat: no-repeat;
    position: fixed;
    top: calc(40vh);
    left: calc(50vw - 60px);
}
