@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans-Light'), url('../fonts/opensans-light.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), url('../fonts/opensans-normal.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  src: local('OpenSans-Semibold'), url('../fonts/opensans-semibold.woff') format('woff');
}

html > body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
    width: 100%;
    overflow-x: hidden;
}

#navigation {
    position: fixed;
    font-size: 120%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
}

#app h1, #app h2, #app h3, #app h4 {
    color: #444;
    margin-top: 0;
    position: relative;
}

#app {
    position: relative;
    box-shadow: 0px 5px 15px 5px #000;
    margin-top: 6rem;
    padding-top: 2rem;
    padding-left: 2rem;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 2rem;
}

label, .settings-label {
    color: #666;
    display: block;
    clear: both;
    font-weight: normal;
}

#navigation .navbar-nav {
    float: none;
    box-shadow: 0px 3px 10px 1px #999;
    width: auto;
    min-width: auto;
    margin: 0;
}

a:hover {
    cursor: pointer;
}

.nav {
    min-width: auto;
    background: #116095;
    margin: 0;
}

.nav ul {
    list-style: none;
    height: 100%;
}

#navigation .nav > li {
    display: inline-block;
    margin: 0;
    padding: 0.5rem 2rem;
    height: 6rem;
    border-right: 1px solid #1175aa;
}

#navigation .nav > li.icon-only {
    display: inline-block;
    margin: 0;
    padding: 0rem;
    height: 6rem;
    border-right: 1px solid #1175aa;
}

.nav li a {
    color: #ccc;
}

.nav a:hover {
    background: none;
}

#navigation .nav > li > a:hover {
    background: none;
}

.navbar-nav li:last-child {
    float: right;
    border-right: none;
    border-left: 1px solid #1175aa;
}

.settings-field {
    margin-bottom: 1rem;
}

.nav li {
    transition: background 0.3s ease-in-out;
}

.nav li:hover {
    cursor: pointer;
    background: #1175aa;
    height: 100%;
}

.nav li.active {
    cursor: pointer;
    background: #1175aa;
    height: 100%;
}

.nav li a:hover {
    background: none;
}

#footer {
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-image: url("../images/footer-tile.png");
    background-color: #222;
}

#footer .version {
    font-weight: normal;
    color: #888;
    font-size: 90%;
}

#footer .title {
    display: block;
    margin: auto;
    padding: 1.5rem;
    padding-bottom: 2.5rem;
}

#footer .developer {
    display: block;
    font-weight: normal;
    color: #888;
    font-size: 90%;
}

#footer .developer a {
    color: #888;
    text-decoration: underline;
}

select.settings-input {
    padding: 0.5rem;
    font-size: 100%;
    min-width: 28rem;
}

input.settings-input {
    min-width: 28rem;
    padding: 0.5rem;
    color: #666;
    font-size: 100%;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

#app button {
    margin: 0;
    width: 100%;
    padding: 1rem 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.button-container {
    margin: 0;
    width: 100%;
}

#app button.btn-default {
    padding: 1rem 3rem;
}

#settings {
    position: fixed;
    width: 34rem;
    right: -36rem;
    background: #fff;
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;
    height: calc(100vh - 6rem);
    top: 6rem;
    z-index: 1000;
    transition: right 0.5s ease-in-out;
    border: 1px solid #999;
    box-shadow: 10px 15px 60px 1px #333;
    border-top-left-radius: 1rem;
}

#settings h4 {
    padding-left: 2rem;
}

#settings h4.section-heading {
    padding-left: 0rem;
    margin-top: 2rem;
    font-size: 115%;
}

#settings h4.section-heading:first-of-type {
    margin-top: 0;
}

#settings .button-container {
    padding: 0 2rem;
}

#settings-inner {
    overflow-y: scroll;
    height: calc(100vh - 22rem);
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 0.5rem 0;
    padding-left: 2rem;
}

#settings.show {
    right: 0px;
    display: block;
}

.month-panel .label {
    font-size: 100%;
    color: #333;
}

.list-item {
    background: #1175aa;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.2rem 0.2rem;
    margin-top: 0;
    margin-bottom: 0.4rem;
    display: inline-block;
    color: white;
}

.list-item-delete {
    padding-left: 0.5rem;
    color: #5be;
}

.list-item-delete:hover {
    cursor: pointer;
    color: #fafafa;
}

#app .list-input select.settings-input {
    width: 24.7rem;
    min-width: auto;
    margin-right: 0.3rem;
}

#app .list-input input.settings-input {
    width: 24.7rem;
    min-width: auto;
    margin-top: 0;
    margin-right: 0.3rem;
}

#app .list-input button {
    width: 3rem;
    margin-top: 0;
    padding: 0.5rem 0.5rem;
}
