* {
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans-Light'), url('../fonts/opensans-light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), url('../fonts/opensans-normal.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  src: local('OpenSans-Semibold'), url('../fonts/opensans-semibold.woff') format('woff');
}
html > body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #fff;
  color: #333;
  width: 100%;
  overflow-x: hidden;
}
#app {
  position: relative;
  box-shadow: 0px 5px 15px 5px #000;
  margin-top: 6rem;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  min-height: calc(100vh - 6rem);
  min-width: 1024px;
}
#app h1,
#app h2,
#app h3,
#app h4 {
  color: #444;
  display: inline-block;
  margin-top: 0;
  position: relative;
}
#app .button-container {
  margin: 0;
  width: 100%;
}
#page-content .button-container button {
    width: 14.5rem;
}
#import-dialog .import-location-selector .field-input {
    display: block;
}
#app button.btn-default {
  padding: 0.7rem 2rem;
}
#navigation {
  position: fixed;
  font-size: 120%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  min-width: 1024px;
}
#navigation .navbar-nav {
  float: none;
  box-shadow: 0px 3px 10px 1px #999;
  width: auto;
  min-width: auto;
  margin: 0;
}
#navigation .navbar-nav li:last-child {
  float: right;
  border-right: none;
  border-left: 1px solid #1175aa;
}
#navigation .nav {
  min-width: auto;
  background: #116095;
  margin: 0;
}
#navigation .nav ul {
  list-style: none;
  height: 100%;
}
#navigation .nav li {
  transition: background 0.3s ease-in-out;
  display: inline-block;
  margin: 0;
  padding: 0.5rem 2rem;
  height: 6rem;
  border-right: 1px solid #1175aa;
}
#navigation .nav li.experimental {
    background: #bb3300;
    border-right: 1px solid #bb9900;
}
#navigation .nav li.experimental:hover {
    background: #bb3300;
    background: #bb9900;
}
#navigation .nav li.icon-only {
  display: inline-block;
  margin: 0;
  padding: 0rem;
  height: 6rem;
  border-right: 1px solid #1175aa;
}
#navigation .nav li a {
  color: #fafafa;
}
#navigation .nav li a:hover {
  background: none;
}
#navigation .nav li:hover {
  cursor: pointer;
  background: #1175aa;
}
#navigation .nav li.active {
  cursor: pointer;
  background: #1175aa;
}
a:hover {
  cursor: pointer;
}
#settings {
  position: fixed;
  width: 34rem;
  right: -36rem;
  background: #fff;
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
  height: calc(100vh - 6rem);
  top: 6rem;
  z-index: 1000;
  transition: right 0.5s ease-in-out;
  border: 1px solid #999;
  box-shadow: 10px 15px 60px 1px #333;
  border-top-left-radius: 1rem;
}
#app .field-container {
    margin-bottom: 1rem;
    width: 30rem;
}
#app .field-required-label {
    display: none;
    float: right;
    margin-right: 1rem;
    position: relative;
}
#app .field-container .required-asterisk {
    padding-left: 1pt;
}
#app .field-container.show-validations .required-asterisk {
    color: #800;
}
#app .field-container.show-validations .field-required-label {
    display: inline;
    color: #800;
}
#settings button {
  margin: 0;
  width: 100%;
  padding: 0.7rem 2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
#app .field-label {
  color: #666;
  display: inline-block;
  clear: both;
  font-weight: normal;
}
#app select.field-input {
  padding: 0.5rem;
  font-size: 90%;
  min-width: 30rem;
}
#app select:disabled {
    background: #ebebe4;
    color: #666;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
#app input.field-input, textarea.field-input, pre.field-input {
  width: 30rem;
  padding: 0.5rem;
  margin: 0;
  color: #666;
  font-size: 90%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
#page-content input.field-input, textarea.field-input, pre.field-input {
  display: block;
}
pre.field-input {
    background: #ebebe4;
    color: #666;
    min-height: 3rem;
    font-family: Arial, sans-serif;
}
#settings h4 {
  padding-left: 1rem;
}
#settings h4.section-heading {
  padding-left: 0rem;
  margin-top: 2rem;
  font-size: 100%;
}
#settings h4.section-heading:first-of-type {
  margin-top: 0;
}
#settings .button-container {
  padding: 0 1rem;
}
#settings .section-body {
  overflow-y: scroll;
  height: calc(100vh - 19.5rem);
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 0.5rem 0;
  padding-left: 1rem;
}
#settings.show {
  right: 0px;
  display: block-inline;
}
#settings .month-panel .label {
  font-size: 100%;
  color: #333;
}
#page-content img.input-field {
    position: relative;
    max-height: 30rem;
    display: block;
}
#settings .list-item {
  background: #1175aa;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.2rem 0.2rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
  display: inline-block;
  color: white;
}
#settings .list-item-delete {
  padding-left: 0.5rem;
  color: #aef;
}
#settings .list-item-delete:hover {
  cursor: pointer;
  color: #fafafa;
}
#app .list-input select.field-input {
  width: 26.7rem;
  min-width: auto;
  margin-right: 0.3rem;
}
#app .list-input input.field-input {
  width: 26.7rem;
  min-width: auto;
  margin-top: 0;
  margin-right: 0.3rem;
}
#settings .list-input button {
  width: 3rem;
  margin-top: 0;
  padding: 0.5rem 0.5rem;
}
#loading {
    height: 30px;
    width: 120px;
    background: url("../images/logo-inv.png");
    background-repeat: no-repeat;
    position: fixed;
    top: calc(40vh);
    left: calc(50vw - 60px);
}
.album-validation-summary {
    font-size: 140%;
}
.loading {
    position: fixed;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 10px 1px #333;
    font-size: 130%;
    top: 5rem;
    z-index: 1000;
    left: calc(50vw - 15rem);
    width: 30rem;
    text-align: center;
    padding: 3rem 5rem;
}
.loading img {
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    display: block;
}
.sidebar {
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
    display: block;
    height: 100%;
    background: #fafafa;
    width: 24rem;
    position: absolute;
    overflow: scroll;
    border-right: 1px solid #ddd;
    margin-bottom: 2rem;
}
.sidebar ul {
    list-style: none;
    padding-left: 1rem;
    padding-top: 2rem;
    margin-right: 1rem;
}
.sidebar ul li {
    padding: 1rem;
    border-top: 1px solid #ddd;
}
.sidebar ul li:first-of-type {
    padding: 1rem;
    font-size: 120%;
    color: #666;
    border-top: none;
}
#page-content .main-content {
    margin-top: 2rem;
    position: relative;
    float: left;
    display: block;
    margin-left: 24rem;
    margin-right: 26rem;
    padding-right: 26rem;
    margin-bottom: 2rem;
    min-width: 40rem;
    width: 100%;
}
#page-content .main-content-container {
    padding-left: 1rem;
}
#page-content .no-problems {
    color: #283;
}
.sidebar .create-record-btn {
    float: right;
    margin-top: 2.5rem;
    margin-right: 1.5rem;
    position: relative;
}
#page-content .section-body {

}
#page-content .edit-btn {
    float: right;
}
#page-content .cancel-btn {
    margin-left: 1rem;
}
#page-content .delete-btn {
    margin-left: 1rem;
}
#page-content .actionmenu {
    position: absolute;
    left: 23rem;
    float: left;
    background: #eee;
    border: 1px solid #ccc;
    padding: 0.1rem 1rem;
}
#page-content .breadcrumbs {
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}
#page-content .breadcrumb-item::after {
    padding: 0 0.5rem;
    content: ">"
}
#page-content .breadcrumb-item:last-of-type::after {
    padding: 0 0.5rem;
    content: normal;
}
#page-content .album-container {
    position: relative;
    float: left;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-bottom: 1px solid #eee;
}
#page-content div.timespan {
    float: left;
    width: 20rem;
    background: white;
    display: block;
    position: relative;
    clear: left;
    text-align: right;
    padding: 0.5rem 1.5rem;
}
#page-content .album-result {
    float: left;
}
#page-content .album-problem .album-result {
    padding-right: 0.6rem;
    padding-top: 0.2rem;
    width: 2rem;
    text-align: center;
}
#page-content .timespan .date-range {
    clear: both;
}
#page-content .album-result.success-result {
    color: #283;
}
#page-content .album-result.warning-result {
    color: #db0;
}
#page-content .album-result.failure-result {
    color: #a32;
}
#page-content .import {
    width: 100%;
}
#page-content div.album-details {
    position: relative;
    display: inline-block;
    white-space: normal;
    float: left;
    flex: 1 1 auto;
    overflow: hidden;
    padding-right: 6rem;
    padding: 0.5rem 0;
    padding-left: 2rem;
    background: #fafafa;
    border-left: 1px solid #eee;
}
#page-content .validation-heading {
    padding-left: 1.5rem;
    width: 100%;
    margin-top: 2rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0;
}
.datepicker .label {
    color: black;
}
#error-dialog {
    position: fixed;
    box-shadow: 0px 0px 15px 1px #000;
    z-index: 1000;
    top: 8rem;
    left: calc(50vw - 25rem);
    border-radius: 0.5rem;
}
#error-dialog .content {
    background: #fff;
    height: 38rem;
    width: 50rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}
#error-dialog .error-title {
    margin-top: 0;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #800;
    color: #800;
}
#error-dialog .error-ack {
    margin-top: 0;
    padding: 1rem;
    width: 100%;
    background: #800;
}
#error-dialog .error-paragraph {
    text-align: center;
    padding: 0;
}
#error-dialog textarea {
    max-width: 46rem;
}
#import-dialog {
    position: fixed;
    box-shadow: 0px 0px 15px 1px #000;
    z-index: 999;
    top: 10rem;
    left: calc(50vw - 17rem);
    border-radius: 0.5rem;
    margin: 0;
    padding: 0;
}
#import-dialog .content {
    background: #fff;
    width: 34rem;
    padding: 1rem 2rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
    margin: 0;
}
#import-dialog .button-container {
    padding-top: 1rem;
    display: flex;
}
#import-dialog .button-container button:first-child {
    margin-right: 1rem;
}
#import-dialog .button-container button {
    flex-grow: 1;
}
#import-dialog .field-input {
    margin-bottom: 1rem;
}
#import-dialog .import-folder {
    padding-bottom: 1rem;
}
.library {
}
.library .media {
    padding: 1rem;
    cursor: pointer;
    background: #fafafa;
    border: 1px solid #ddd;
    width: 100%;
    transition: all 0.2s ease-in-out;
    margin-top: 0;
}
.library .media.selected {
    background: #88a400;
}
.library .media.processed {
    border: 2px solid #1175aa;
}
.library .media.attention-needed {
    border: 2px solid #aa3311;
}
.library .media:hover {
    opacity: 0.8;
}
.library .media-collection {
    width: 33%;
    float: left;
    padding-left: 1rem;
    max-height: calc(100vh - 13.5rem);
}
.library .media-collection-container {
    margin: auto;
    overflow: scroll;
    position: relative;
    float: left;
    width: 100%;
    height: calc(100vh - 13.5rem);
}
.library .media-control-panel {
    position: relative;
    max-height: calc(100vh - 13.5rem);
    float: left;
    width: 66%;
    padding-top: 0.5rem;
    border-left: 1px solid #ccc;
    right: 0;
    background: white;
}
.library .mcp-container {
    position: relative;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.library .media-control-panel .preview {
    position: relative;
    text-align: center;
    float: right;
    width: 100%;
}
.library .media-control-panel img {
    position: relative;
    top: -1rem;
    max-width: 100%;
    max-height: calc(100vh - 13.3rem);
    border: 1px solid #999;
    margin: auto;
}
.library .media-details-panel {
    position: absolute;
    transition: all 0.3s ease-in-out;
    top: 6rem;
    right: -25rem;
    width: 25rem;
    z-index: 400;
    height: 100vh;
    background: #fafafa;
    padding: 1rem;
    border-left: 1px solid #ccc;
    opacity: 0.8;
}
.library .remove-sighting {
    padding-top: 0.3rem;
    cursor: pointer;
    float: right;
}
.library .media-details-panel.show-panel {
    right: 0rem;
}
.library .media-details-panel-text {
    position: absolute;
    transition: all 0.3s ease-in-out;
    top: 6rem;
    right: -25rem;
    width: 25rem;
    z-index: 400;
    height: 100vh;
    padding: 1rem;
    border-left: 1px solid #ccc;
}
.library .media-details-panel-text.show-panel {
    right: 0rem;
}
.library .media-details-panel .details-panel-toggle {
    background: #fafafa;
    position: absolute;
    left: -3rem;
    top: 5rem;
    border: 1px solid #ccc;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    cursor: pointer;
    width: 3rem;
    height: 7rem;
    padding: 0.2rem;
    padding-top: 1.2rem;
}
.library .media-details-panel-text .details-panel-toggle-text {
    position: absolute;
    left: -3rem;
    cursor: pointer;
    top: 5rem;
    width: 3rem;
    height: 7rem;
    padding: 0.2rem;
    padding-top: 1.2rem;
    color: #666;
}
.library .close-details {
    color: #666;
    padding: 0.5rem;
    cursor: pointer;
}
.library .close-details:hover {
    color: #000;
}
.library .media-details-panel-text .details-panel-toggle-text:hover {
    color: #333;
}
.library .media-details-panel-text .rotate {
    position: relative;

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    transform: rotate(-90deg);
    transform-origin: right bottom 0;

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#app .library .none-selected {
    position: relative;
    width: 100%;
    height: calc(0.74 * 32vw);
}
#app .library .details .data {
    min-height: 1rem;
}
#app .library label {
    font-size: 85%;
    font-weight: normal;
    color: #666;
    display: block;
    margin-bottom: 0;
    margin-top: 0.4rem;
}
#app .library .media-item {
    width: 33%;
    height: calc(11.5vw * (4 / 6) + 1.5rem);
    margin-top: 0;
    padding: 1%;
    position: relative;
    display: inline-block;
}
#app .library .view-photo {
    position: absolute;
    display: block;
    top: 10%;
    left: 10%;
    opacity: 0.3;
    color: #fff;
    font-size: 250%;
    z-index: 3;
    transition: opacity 0.2s ease-in-out;
}
#app .library .view-photo:hover {
    opacity: 0.8;
}
#app .library .details .column {
    width: 25%;
    float: left;
    position: relative;
}
#app .library .none-selected h4 {
    position: relative;
    top: calc(0.74 * 33vw / 2);
}
#app .library .selected-count {
    position: fixed;
    transition: all 0.3s ease-in-out;
    background: #88a400;
    color: white;
    font-size: 120%;
    padding: 0.3rem 1rem;
    opacity: 0.95;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    left: 50%;
    z-index: 400;
    margin: auto;
    top: 12rem;
}
#app .library .selected-count.hide-selected {
    top: 2rem;
}
#app .library .search-container {
    width: 100%;
    position: relative;
    clear: both;
}
#app .library .identify-selected {
    position: absolute;
    z-index: 600;
    display: block;
    width: calc(100% - 4rem);
    height: 0;
    clear: both;
    top: -6rem;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    margin: 0 2rem;
    border: 1px solid #ccc;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    background: #f5f5f5;
}
#app .library .identify-selected button {
    margin: 0 0.5rem;
}
#app .library .identify-selected.show-prompt {
    top: 5rem;
    padding-top: 2rem;
    padding-bottom: 4.5rem;
    z-index: 5;
}
#app .library .identify-selected .field {
    display: inline-block;
    margin-right: 2rem;
}
#app .library .identify-selected .field input.field-input {
    display: inline-block;
    width: 8rem;
}
#app .library .identify-selected .field select.field-input {
    width: 15rem;
}
#app .library .identify-selected .field label {
    display: inline-block;
    padding-right: 1rem;
    font-size: 100%;
}
#app .library .search-bar {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 0.5rem;
    padding-top: 0.8rem;
    font-size: 120%;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 6rem;
    z-index: 10;
    margin-bottom: 1rem;
    background: #fafafa;
    width: 100%;
}
#app .library .search-bar button.search-main-op {
    width: 12rem;
}
#app .library .fa-search {
    font-size: 130%;
}
#app .library input.search {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    width: 20rem;
}
#app .library .search-bar button {
    margin: 0 0.5rem;
}
#app .library .pagination-nav {
    position: relative;
    display: inline-block;
}
#app .library .search-bar select.field-input {
    width: auto;
    min-width: auto;
}
#app .library .search-bar .survey-select {
    margin-right: 1rem;
}
#app .library .pagination-nav .btn {
    font-size: 1.5em;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
#app .library .pagination-nav .describe-pagination {
    position: relative;
    padding: 0 1rem;
    display: inline-block;
    text-align: center;
    min-width: 18rem;
}
.library .search-bar .flag {
    position: relative;
    color: #999;
    cursor: pointer;
    top: 0.5rem;
    padding: 0 1rem;
    opacity: 0.4;
    height: 4rem;
}
.library .search-bar .processed {
    position: relative;
    color: #999;
    cursor: pointer;
    top: 0.5rem;
    padding: 0 1rem;
    opacity: 0.4;
}
.library .flag.red {
    color: #aa3311;
    opacity: 1;
}
.library .processed.green {
    color: #99d344;
    opacity: 1;
}
#app .version-string {
    float: right;
    font-size: 70%;
    padding-right: 1rem;
}

#app .library .subfilter-bar {
    width: 100%;
    float: left;
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}
#app .library .subfilter-bar .subfilter-option {
    float: left;
    padding: 0 1rem;
    text-align: center;
    min-width: 12rem;
}
#app .library .subfilter-bar .subfilter-option:first-child {
    text-align: left;
}
#app .library .subfilter-bar .field-input {
    min-width: auto;
    width: auto;
}
#app .library .subfilter-bar label {
    display: inline;
}
#app .library .subfilter-bar select {
    display: block;
}
#app .library .subfilter-bar input[type=checkbox] {
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    margin: auto;
    margin-top: 0.5rem;
    text-align: center;
}
